.ui.vertical.stripe.segment
  .ui.container
    div id="dropzone" class="dropzone"
    = form_tag bulk_create_taggings_path, class: 'ui form' do
      = hidden_field_tag 'images[ids]', '', multiple: true

      .field
        label Tags
        = select_tag 'images[tag_id]', {}, multiple: true, class: 'ui dropdown search selection'
      = submit_tag 'Save', class: 'ui button green'

javascript:
  $(document).ready(function () {
    var AUTH_TOKEN = $('meta[name="csrf-token"]').attr('content');
    var uploaded_ids = [];
    Dropzone.autoDiscover = false;
    var dropzone = new Dropzone("div#dropzone", {
      url: "/images/file_upload",
      uploadMultiple: true,
      params: {
        'authenticity_token': AUTH_TOKEN
      },
      successmultiple: function (data, response) {
        uploaded_ids = uploaded_ids.concat(response.items);
        $('#images_ids').val(uploaded_ids);
      }
    });


    $('.ui.dropdown').dropdown({
        apiSettings: {
            url: '/tags?q={query}'
        }
    })

  });